*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif,Arial;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
body,html{
    width: 100%;
    background-color: #f8f8f8;
    overflow: visible;
}
#header h2{
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
#header{
    max-width: 100%;
    padding: 10px;
    padding-right: 60px;
    background-color: #f8f8f8;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    
}
#header ul{
    display: flex;
    justify-content: space-around;
}
#header ul li{
    list-style: none;
    padding: 0;
    margin-left: 30px;
}

#header ul li a{
    text-decoration: none;
    padding: 5px 10px;
    color: #222222;
    font-size: 1.2rem;
    border-radius: 5px;
}

#header ul li a:hover{
    background-color: #e7e4e4;
    transition: 0.25s ease;
}
#header #icon{
    display: none;
}
#header #icon div{
    width: 15px;
    height: 3px;
    margin-top: 1px;
    background-color:#f4f1f1;
}

#main{
    max-height: 94vh;
    max-width: 100%;
    background: linear-gradient(119deg, rgba(39,64,69,1) 6%, rgba(255,255,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
#main #page{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#main #page #left{
    display: flex;
    padding-bottom: 5%;
    padding-left: 20%;
    color: #e7e4e4;
    width: 45%;
    height: 100%;
    gap: 5px;
    background: transparent;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#main #page #left h1{
    font-size: 6rem;
    padding: 0;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.4);
    font-weight: 300;
}

#main #page #left p{
    margin-top: -25px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    margin-left: 4px;
    font-size: 1.3rem;
    left: 25px;
}


#main #page #left a{
    background:transparent;
    border: 1px solid #e7e4e4;
    text-decoration: none;
    color: #f8f8f8;
    padding: 7px;
    padding-top: 5px;
    display: flex;
    align-items: flex-end;
    border-radius: 4px;
    margin-top: 3%;
    align-self: center;
}

#main #page #left a:hover{
    background:#f5f5f51c;
    transition: 0.25 ease-in;
}

#main #page #left a p{
    margin-top: 2px;
    font-size: 1.2rem;
    text-shadow: none;
}

#main #page #left a img{
    margin-bottom: 3.5px;
    width: 20px;
    height: 20px;
}

#main #page #back{
    height: 94vh;
    width: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#main #page #back img{
    height:auto;
    width: 100%;
    max-width: 646px;
}

hr{
    width: 90%;
    margin-left: 5%;
}

#about{
    width: 100%;
    padding: 5% 5%;
}

#about h1{
    font-size: 4rem;
    color:#222222;
}
#about #para{
    width: 80%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about #para p{
    font-size: 2rem;
    color: #7b7b7b;
}

#skills{
    width: 100%;
    padding: 5% 5%;
}

#skills h1{
    font-size: 4rem;
    color:#222222;
}

#skills #tech{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    border: 2px dotted black;
    padding: 25px;
    width: 80%;
    margin-left: 10%;
}
#skills #tech .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#skills #tech .row div {
    background-color:rgb(42, 42, 82);
    width: 184px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin-top:30px;
    align-items: center;
    color:#f8f8f8;
    box-shadow: 5px 5px 10px rgba(45, 45, 45,0.8);
}
#skills #tech div img{
    width: 76px;
    height: 76px;
    margin-right: 20px;
}

#projects{
    width: 100%;
    height: 100vh;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
}

#projects h1{
    font-size: 4rem;
    color:#222222;
}

#projects #all{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#projects #all .content{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#projects #all .content a{
    width: 250px;
    height: 80%;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    rotate:-5deg;
    transition: 0.5s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,1);
}

#projects #all .content #pro1{
    background-image: url(./images/weather.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#projects #all .content #pro2{
    background-image: url(./images/students.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#projects #all .content #pro3{
    background-image: url(./images/calc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: end;
}
#projects #all .content a:hover{
    width: 260px;
    height: 80.5%;
    transition: 0.5s ease;
}
#projects #all .content a h4{
    font-size: 1.3rem;
}

#projects #all .content #allpro{
    background-color: #e7e6e6;
    border: none;
}

#contacts{
    padding: 5% 5%;
    height: 100vh;
}

#contacts h1{
    font-size: 4rem;
}

#contacts #det{
    display: flex;
    padding-top: 5%;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    flex-wrap: wrap;
}

#contacts #det #detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contacts #det #detail,#media img{
    height: 40px;
    width:40px;
    margin-right: 10px;
}
#contacts #det #detail form{
    display: flex;
    flex-direction: column;
    background-color: #d9d6d6;
    padding: 40px;
    border-radius: 5px;
    padding-top: 20px;
}

#contacts #det #detail form input,textarea{
    border-radius: 3px;
    outline: none;
    border: 0;
    margin-top: 20px;
    width: 300px;
    padding: 5px;
}
#contacts div #detail form input{
    height: 30px;
}

#contacts div #media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

#contacts div #media div{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contacts div #media #mail a{
    text-decoration: none;
    color: #222222;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}

form button{
    background-color: #7b7b7b;
    width: 30%;
    margin-top: 30px;
    border: none;
    color: #f8f8f8;
    font-size: 1rem;
    padding: 2px 2px;
    border-radius: 3px;
    cursor: pointer;
}

footer{
    background-color: #222222;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
}

@media (max-width:1370px){
    #header{
        width: 100vw;
    }
    #main{
        height: 100vh;
    }
}
@media (max-width:1250px){
    #main{
        height: 100vh;
        width: 100%;
        margin: 0;
    }
}

@media (max-width:1100px){
    #main #page #left {
        padding: 0;
        padding-left: 100px;
        gap: 10px;
    }
}

@media (max-width:1000px){
    #main{
        max-width: 100vw;
        max-height: 100vh;
    }
}


@media (max-width:960px) {
    #projects #all .content a{
        height: 200px;
        width: 200px;
    }
    #projects #all .content a:hover{
        height: 210px;
        width: 210px;
    }
    
}

@media (max-width:920px){
    #contacts #det #detail form input,textarea{
        margin-top: 20px;
        width: 250px;
        padding: 5px;
    }

    #contacts div #detail form input{
        height: 25px;
    }
}

@media (max-width:900px) {
    #main{
        width: 100%;
        display: flex;
        z-index: 2;
        
    }
    #main #page{
        display: flex;
        flex-direction: column-reverse;
    }
    #main #page #back{
        width: 100%;
    }
    #main #page #back img{
        height: 310px;
        width: 310px;
        border: 5px solid black;
        border-radius: 50%;
    }
    #main #page #left{
        color: #2b2b2b;
        padding-left: 250px;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
    #main #page #back,#left{
        justify-items: center;
        align-content: center;
    }
    #header{
        z-index: 5;
        flex-direction: column;
        padding-right: 10px;
    }
    #header h2{
        align-self: flex-start;
    }
    #header #icon{
        display: block;
        right: 0;
        margin-right: 7px;
        position: absolute;
        background-color: #222222;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }
    #header ul{
        width: 100%;
        left: 100%;
        top: 56px;
        background-color: #d9d6d657;
        backdrop-filter: blur(10px);
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        transition: 0.3s ease-in-out;
    }
    #header ul li {
        width: 100%;
        margin: 0;
        background-color: transparent;
        text-align: center;
    }
    #header ul li a{
        background-color: transparent;
        width: 100%;
        display: block;
        border-radius: 0;
        padding: 20px;
        color: #222222;
    }
    #header ul li a:hover{
        background-color: rgba(213, 208, 208, 0.178);
        transform: 0.5s ease;
    }

    ul.menu{
        left: 0px;
    }
    
    #about #para{
        width: 100%;
    }
}

@media (max-width:845px) {
    #contacts #det{
        display: flex;
        flex-direction: column;
        padding-top: 25%;
        justify-items: center;
        align-content: space-around;
        flex-wrap: wrap;
    }
    #contacts{
        padding: 5% 5%;
        height: 120vh;
    }
}

@media screen and (max-width:810px) {
    #main #page #left h1{
        font-size: 4.5rem;
        padding: 0;
        font-weight: 300;
    }
}

@media (max-width:780px) {
    #projects #all .content a{
        height: 150px;
        width: 150px;
    }
    #projects #all .content a:hover{
        height: 155px;
        width: 155px;
    }
    #projects #all .content a h4{
        font-size: 1rem;
    }

    
}

@media (max-width:750px){
    #main #page #left{
        padding-left: 150px;
    }
}

@media (max-width:608px){
    #skills #tech div img{
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    #main #page #left {
        padding-left: 75px;  
    }
    #about #para p{
        font-size: 1.8rem;
        color: #7b7b7b;
    }
}

@media (max-width: 480px) {
    #header{
        z-index: 200;
        width: 100%;
    }

    #header ul{
        height: 100vh;
    }
    #main{
        width: auto;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    #main #page{
        width: 100vw;
        
        margin: 0;
    }
    #main #page #back img{
        height: 310px;
        width: 310px;
        border: 5px solid black;
        border-radius: 50%;
    }
    #about #para{
        height: 100vh;
    }

    #about #para p{
        font-size: 1.5rem;
        margin-top: -150px;
    }

    #skills #tech .row{
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width:400px){
    #main #page #left{
        padding-left: 50px;
    }
}

@media (max-width:380px) {
    #about #para p{
        font-size: 1.3rem;
    }
}